html {
    padding: 0;
    margin: 0;
}

body {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #000;
}

.name {
    font-size: 150%;
    line-height: 150%;
    font-weight: bold;
    display: block;
    text-align: center;
}

h1 {
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0.8rem 0 0.3rem 0;
    font-size: 1.8em;
    color: #000;
}

h2 {
    font-size: 1.15em;
    font-weight: bold;
    border-bottom: 2px solid black !important;
    color: #0D47A1;
    margin: 14px 0 6px 0;
    padding: 0 0 2px 0;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 6px 0 0 0;
    line-height: 1.4;
}

h4 {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 0.25em 0;
}

p,
ul {
    font-size: 100%;
    margin: 0;
}

ul,
ol {
    padding: 0 0 0 1.5rem;
    margin: 0;
}

li {
    line-height: 150%;
}

.info img {
    width: 20px;
}

.info a img {
    width: 15px;
}

a {
    color: #0D47A1;
    text-decoration: none;
}

code {
    color: black;
}

time {
    float: right;
    font-size: inherit;
    font-weight: bold;
    white-space: nowrap;
}

location {
    float: right;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
}

.info {
    display: block;
    text-align: center;
}

@media print {
    body {
        font-size: 11pt;
        max-width: none;
        padding: 0;
    }

    h2 {
        break-after: avoid;
    }

    h3 {
        break-after: avoid;
    }

    h3~p,
    h3~ul,
    h3~ol,
    h3~blockquote {
        break-before: avoid;
    }

    h3~h3 {
        break-before: auto;
    }
}
