name: Render HTML to PDF

on:
  workflow_run:
    workflows:
      - "Deploy static content to Pages"
    types:
      - completed
  push:
    branches:
      - main
    paths:
      - "index.html"
  workflow_dispatch:

jobs:
  render-to-pdf:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the repository with full history
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Step 2: Convert HTML to PDF
      - name: HTML to PDF
        uses: fifsky/html-to-pdf-action@master
        with:
          htmlFile: index.html
          outputFile: CV.pdf
          pdfOptions: '{"format": "A4", "margin": {"top": "7mm", "left": "7mm", "right": "7mm", "bottom": "7mm"}, "scale": 0.95}'

      # Step 3: Upload the generated PDF as an artifact
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: CV
          path: CV.pdf

      # Step 4: Commit and push the PDF back to the repository
      - name: Commit and push CV.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git pull --rebase
          git add CV.pdf
          git commit -m "Update CV.pdf" || echo "No changes to commit"
          git push
