name: Render HTML to PDF

on:
  workflow_run:
    workflows:
      - "Deploy static content to Pages" # The name of the first workflow
    types:
      - completed
  push:
    branches:
      - main
    paths:
      - "index.html" # Trigger workflow only when index.html changes
  workflow_dispatch:

jobs:
  render-to-pdf:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

#      # Step 2: Set up Node.js for Puppeteer
#      - name: Set up Node.js
#        uses: actions/setup-node@v3
#        with:
#          node-version: '18'

      # Step 2: Convert HTML to PDF using html-to-pdf-action
      - name: HTML to PDF
        uses: fifsky/html-to-pdf-action@master
        with:
          htmlFile: index.html
          outputFile: CV.pdf
          pdfOptions: '{"format": "A4", "margin": {"top": "10mm", "left": "10mm", "right": "10mm", "bottom": "10mm"}, "Scale": "0.7"}'

#      # Step 3: Install Puppeteer
#      - name: Install Puppeteer
#        run: npm install puppeteer

#      # Step 4: Render HTML to PDF
#      - name: Render index.html to PDF
#        run: |
#          node -e "
#          const puppeteer = require('puppeteer');
#          (async () => {
#            const browser = await puppeteer.launch({ args: ['--no-sandbox', '--disable-setuid-sandbox'] });
#            const page = await browser.newPage();
#            await page.goto('file://' + process.cwd() + '/index.html', { waitUntil: 'networkidle2' });
#            await page.pdf({ 
#              path: 'CV.pdf', 
#              format: 'A4',
#              printBackground: true 
#            });
#            await browser.close();
#          })();
#          "

      # Step 5: Upload the generated PDF as an artifact
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v3
        with:
          name: CV
          path: CV.pdf
      
      # Step 6: Commit and push the PDF back to the repository
      - name: Commit and push CV.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add CV.pdf
          git commit -m "Update CV.pdf"
          git push
